In [1]:
%load_ext autoreload
%autoreload 1

In [1]:
%reload_ext autoreload

In [2]:
import pandas as pd
import os

In [5]:
os.chdir("..")
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week2\\Traffic-Data-Analytics-Data-Warehouse'

In [4]:
from utils.data_cleaner import DataExtractor

In [5]:
extractor = DataExtractor(file_name="20181024_d1_0830_0900.csv")

Initialized data extractor object

In [6]:
df_track, df_trajectory = extractor.extract_clean_data()

## Data: How is the .csv organized?

For each .csv file the following apply:
* each row represents the data of a single vehicle
* the first 10 columns in the 1st row include the columns’ names
* the first 4 columns include information about the trajectory like the unique trackID, the type of vehicle, the distance traveled in meters and the average speed of the vehicle in km/h
* the last 6 columns are then repeated every 6 columns based on the time frequency. For example, column_5 contains the latitude of the vehicle at time column_10, and column­­­_11 contains the latitude of the vehicle at time column_16.
* Speed is in km/h, Longitudinal and Lateral Acceleration in m/sec2 and time in seconds.

The number of fields in each row is = 4 + 6 * n

* The first 4 unique values are: track_id; type; traveled_d; avg_speed
* The remaining fields are repeated sequences of: 
  * lat_1; lon_1; speed_1; lon_acc_1; lat_acc_1; time_1
  * lat_2; lon_2; speed_2; lon_acc_2; lat_acc_2; time_2
  * ...
  * lat_n; lon_n; speed_n; lon_acc_n; lat_acc_n; time_n

* n depends on the time frequency. It is different for each row.

We can divide each row into 2 parts:
1.  A list of the first 4 values. 
    - These will correspond to ['track_id', ' type', ' traveled_d', ' avg_speed']
2.  A matrix of size 6*n of the remaining values. 
    - These will correspond to a table with columns [' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time'] and n rows.
    - We will append the 'track_id' value to each row to keep track of the vehicle identity.

In [7]:
df_track.head()

  track_id         type  traveled_d   avg_speed
0        1          Car       48.85    9.770344
1        2   Motorcycle       98.09   19.839417
2        3   Motorcycle       63.80   18.228752
3        4   Motorcycle      145.72   26.229014
4        5   Motorcycle      138.01   24.841425

In [9]:
df_track.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track_id     922 non-null    object
 1    type        922 non-null    object
 2    traveled_d  922 non-null    object
 3    avg_speed   922 non-null    object
dtypes: object(4)
memory usage: 28.9+ KB

In [10]:
df_track.dtypes

track_id       object
 type          object
 traveled_d    object
 avg_speed     object
dtype: object

In [11]:
df_track[' type'].value_counts() # has space on column

 type
 Car               426
 Motorcycle        251
 Taxi              176
 Medium Vehicle     26
 Bus                23
 Heavy Vehicle      20
Name: count, dtype: int64

In [12]:
df_track.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed'], dtype='object')

I seem there is a space on the columns, we have to fix that

In [13]:
# change the column names
df_track.columns = ['track_id', 'type', 'traveled_d', 'avg_speed']

df_track.head()

  track_id         type traveled_d   avg_speed
0        1          Car      48.85    9.770344
1        2   Motorcycle      98.09   19.839417
2        3   Motorcycle      63.80   18.228752
3        4   Motorcycle     145.72   26.229014
4        5   Motorcycle     138.01   24.841425

In [14]:
df_track.isna().sum()

track_id      0
type          0
traveled_d    0
avg_speed     0
dtype: int64

In [15]:
df_trajectory.head()

  track_id         lat         lon    speed   lon_acc   lat_acc       time
0        1   37.977391   23.737688   4.9178    0.0518   -0.0299   0.000000
1        1   37.977391   23.737688   4.9207   -0.0124   -0.0354   0.040000
2        1   37.977391   23.737688   4.9160   -0.0519   -0.0413   0.080000
3        1   37.977390   23.737688   4.9057   -0.0914   -0.0478   0.120000
4        1   37.977390   23.737689   4.8871   -0.1679   -0.0550   0.160000

In [16]:
df_trajectory.columns # these column names also have space in them

Index(['track_id', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time'], dtype='object')

In [17]:
df_trajectory.columns=['track_id', 'lat', 'lon', 'speed', 'lon_acc', 'lat_acc', 'time']

In [18]:
df_trajectory['lat'].head()

0     37.977391
1     37.977391
2     37.977391
3     37.977390
4     37.977390
Name: lat, dtype: object

In [19]:
df_trajectory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446887 entries, 0 to 1446886
Data columns (total 7 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   track_id  1446887 non-null  object
 1   lat       1446887 non-null  object
 2   lon       1446887 non-null  object
 3   speed     1446887 non-null  object
 4   lon_acc   1446887 non-null  object
 5   lat_acc   1446887 non-null  object
 6   time      1446887 non-null  object
dtypes: object(7)
memory usage: 77.3+ MB

In [20]:
df_trajectory.isna().sum()

track_id    0
lat         0
lon         0
speed       0
lon_acc     0
lat_acc     0
time        0
dtype: int64

In [22]:
extractor.save_to_csv(df_track, df_trajectory)

('automobile_track.csv', 'automobile_trajectory.csv')

In [3]:
from datetime import datetime, timedelta
import pandas as pd
from sqlalchemy import create_engine

In [4]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week2\\Traffic-Data-Analytics-Data-Warehouse\\notebooks'

In [9]:
engine = create_engine('postgresql+psycopg2://postgres:hello@localhost:5434/traffic_data')
#create a database named traffic_data
conn = engine.connect()

In [8]:
conn.execute('SELECT * FROM track_data LIMIT 5').fetchall()

C:\Users\user\AppData\Local\Temp\ipykernel_23356\3607586619.py:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute('SELECT * FROM track_data LIMIT 5').fetchall()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "track_data" does not exist
LINE 1: SELECT * FROM track_data LIMIT 5
                      ^

[SQL: SELECT * FROM track_data LIMIT 5]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [77]:
conn.close()

In [82]:
conn.closed

False

In [18]:

track_data_path = 'data/automobile_track.csv'
trajectory_data_path = 'data/automobile_trajectory.csv'

# Load data into DataFrame
track_data = pd.read_csv(track_data_path)
trajectory_data = pd.read_csv(trajectory_data_path)

track_data.columns = ['track_id', 'type', 'traveled_d', 'avg_speed']
trajectory_data.columns=['track_id', 'lat', 'lon', 'speed', 'lon_acc', 'lat_acc', 'time']

trajectory_data = trajectory_data.head(100000)

# Load data into PostgreSQL
track_data.to_sql('track_data', con=engine, if_exists='replace', index=False)
trajectory_data.to_sql('trajectory_data', con=engine, if_exists='replace', index=False)

print("Data loaded successfully into PostgreSQL")

Data loaded successfully into PostgreSQL

In [16]:
trajectory_data.columns

Index(['track_id', ' lat', ' lon', ' speed', ' lon_acc', ' lat_acc', ' time'], dtype='object')

In [15]:
track_data.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed'], dtype='object')

In [65]:
os.getcwd()

'c:\\Users\\user\\Downloads\\ten_academy\\week2\\Traffic-Data-Analytics-Data-Warehouse'